<div class="userDetails">
<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{userDetail? userDetail.name: ""}}</h4>
        <p class="card-text">
            <i class="fa fa-user"></i> {{userDetail? userDetail.username: ""}}
        </p>
        <p class="card-text">
            <i class="fa fa-envelope"></i> {{userDetail? userDetail.email: ""}}
        </p>
        <p class="card-text">
            <i class="fa fa-phone"></i> {{userDetail? userDetail.phone: ""}}
        </p>
        <p class="card-text">
            <i class="fa fa-link"></i> {{userDetail? userDetail.website: ""}}
        </p>
        <p class="card-text">
            <i class="fa fa-briefcase"></i> {{userDetail? userDetail.company.name: ""}}
        </p>
        <p class="card-text">
            <i class="fa fa-map-marker"></i> {{userDetail? userDetail.address.suite + ", " + userDetail.address.street + ", " + userDetail.address.city: ""}}
        </p>

    </div>
</div>
</div>

