<div class="navbar-container ">
  <div class="appname">Angular Rest Api App</div>
  <div class="nav">
    <nav class="navbar">
      <a routerLink="/users" routerLinkActive="active">Users</a>
      <a routerLink="/posts" routerLinkActive="active">Posts</a>
      <a routerLink="/comments" routerLinkActive="active">Comments</a>
      <a routerLink="/todos" routerLinkActive="active">Todos</a>
    </nav>
  </div>
</div>

<h1>Welcome to Angular App</h1>

<div class="app-body">
  <router-outlet></router-outlet>
</div>
