body{
    background-color: #eee;
}
.card{
    background-color: #eee;
}
.userDetails{
    padding: 2vw;
}
.userDetails h4{
    text-align: center;
}
.userDetails .card{
    margin: auto;
    width: 40%;
}
i{
    margin-right: 1vw;
}